header {
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid var(--header-border-color);  
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.headers__logo-container {
    width: 20%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    font-size: 12px;
}

header > button {
    font-size: 16px;
    font-weight: 600;
    
    width: 142px;
    height: 48px;

    border: 1px solid var(--brand-color-1);
    
    color: var(--brand-color-1);
    
    background-color: var(--brand-color-2);
    
    cursor: pointer;
}

header > button:hover {
    color: var(--brand-color-2);
    
    background-color: var(--brand-color-1);

    transition: var(--transition-hover);
}

main {
    width: 52%;
    height: 100%;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;

    padding-top: 20px;
}

.select__container {
    width: 30%;
    height: 52px;

    position:relative;


}
.select__container > select {
    width: 100%;
    height: 52px;

    font-size: 20px;
    color: var(--brand-color-2);

    border: none;

    appearance: none;

    padding: 15px;
    margin-bottom: 30px;

    outline: none;

    cursor: pointer;

    background-color: var(--brand-color-1);
}

.select__container::after {
    content: '';
    
    border-width: 8px;
    border-style: solid;
    border-color: transparent;
    border-top-color: var(--brand-color-2);
    border-radius: 2px;
    
    display: inline-block;
    position: absolute;
    right: 25px;
    bottom: 12px;
}

.departments__container {
    width: 100%;
    height: 280px;

    padding:20px 0 20px 0;

    overflow-y: auto;

    background-color:  #f3f3f3;

    box-shadow: 1px 5px 10px 5px rgb(223, 223, 223);
}


.departments__container--header {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.departments__container--header > button {
    width: 150px;
    height: 45px;

    color: var(--brand-color-2);
    font-size: 16px;
    font-weight: 550;

    border: 1px solid transparent;
    background-color: var(--brand-color-1);

    cursor: pointer;
}

.departments__container--header > button:hover {
    background-color: var(--brand-color-2);

    color: var(--brand-color-1);

    border: 1px solid var(--brand-color-1);

    transition: var(--transition-hover);
}

.department__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.department-card__container {
    width: 400px;
    height: 180px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 20px;

    border: 1px solid var(--brand-color-1);
}

.no-department-message {
    margin-top: 105px;

    font-size: 20px;
    font-weight: 600;
}

.no-departments-phrase {
    margin-top: 105px;
    margin-left: 28%;

    font-size: 20px;
    font-weight: 600;
}

.department__description-container {
    width: 80%;
}

.icons__container{
    width: 10%;

    display: flex;
    flex-direction: column;
    gap: 18px;

    cursor: pointer;
}

.user__container--title {
    width: 100%;

    margin: 25px 0 25px 0;
}

.users__container {
    width: 100%;
    height: 280px;

    padding:20px 0 20px 0;

    overflow-y: auto;

    margin-bottom: 50px;

    background-color: #f3f3f3;
    
    box-shadow: 1px 5px 10px 5px rgb(223, 223, 223);
}

.user__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.user-card__container {
    width: 400px;
    height: 130px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 20px;

    border: 1px solid var(--brand-color-1);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: var(--brand-color-1); 
    border-radius: 10px;
}