.modal__controller--view {
    width: 857px;
    height: 600px;
    
    outline: none;

    border: 2px solid transparent;

}

 .view_modal__container {
    width: 840px;
    height: 600px;

    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    gap: 5px;

    padding: 30px;

    /* position: relative; */
}

.view_modal__container > span {
    position: absolute;

    right: 10px;
    top: 10px;

    cursor: pointer;
}

.view-department_title {
    font-size: 50px;
}
.view-department_description {
    font-size: 20px;
    font-weight: 600;
}

.view-department_company-name {
    margin-top: -5px;
}

.select-view-modal__container {
    width: 100%;
    padding: 5px 0 5px 0;
}

.select-view-modal__container > select {
    width: 81%;

    padding: 15px;
    
    font-size: 14px;

    border: 1px solid #e4e4e4;
}

.select-view-modal__container > button {
    width: 18%;

    padding: 15px;

    font-size: 14px;

    border: 1px solid var(--modal-button-color-green);

    background-color: var(--modal-button-color-green);

    color: var(--brand-color-2);
    font-weight: 600;

    cursor: pointer;
}

.select-view-modal__container > button:hover {
    color: var(--modal-button-color-green);

    transition: var(--transition-hover);
    background-color: var(--brand-color-2);
}

.working-employees__container {
    position: absolute;
    
    width: 87.5%; 
    height: 250px;
    left: 5%; 
    top: 68%;
    
    transform: translateY(-50%);
    
    box-sizing: border-box;
    padding: 30px;
    
    white-space:nowrap;
    overflow-x: scroll;
    
    background-color: #e4e4e4;
}

.working-employees__user-container {
    width: 250px; 
    height: 150px;

    margin-top: 15px;
    margin-right: 30px;
    padding: 25px;

    align-items: center;
    
    box-sizing: border-box;
   
    display: inline-block;
 
    background-color: var(--brand-color-2);
}

.working-employees__fired-button {
    color: var(--modal-button-color-orange);
    font-size: 14px;
    width: 100%;
    
    padding: 10px;

    border: 1px solid var(--modal-button-color-orange);

    background-color: var(--brand-color-2);

    cursor: pointer;
}

.working-employees__fired-button:hover {
    color: var(--brand-color-2);

    background-color: var(--modal-button-color-orange);

    transition: var(--transition-hover);
}